.header-logo {
  height: 6rem;
}

.header-logo img {
  display: inline-block;
  height: 100%;
}

.title {
  font-family: "Stag Sans Round", sans-serif;
  font-size: 3.2rem;
  font-weight: 300;
  color: #00507f;
  margin-bottom: 2rem;
}

.enterprise-button {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  background-color: #78be20;
  color: white;
}

.enterprise-button:hover {
  background-color: #91da35;
  cursor: pointer;
}

.enterprise-button:focus {
  background-color: #91da35;
}

.field-title {
  font-size: 1rem;
  font-weight: 300;
  padding-bottom: 0.2rem;
}

.field {
  font-size: 1rem;
  font-weight: 300;
  display: block;
  width: 100%;
  padding: .5rem;
  background: #ffffff;
  border: 1px solid rgba(99, 102, 106, 0.3);
  border-radius: 0;
  margin-bottom: 0.8rem;
}

.subheading {
  font-size: 2.6rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.credentials {
  width: 20rem;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1rem;
}

.response {
  width: 30rem;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1rem;
}

.server-container {
  border: 1px solid black;
  background-color: var(--lightest-gray);
  min-height: 3rem;
  padding: 0.5rem;
}

.server-text {
  font-family: "Courier New", monospace;
  color: black;
}
